services:
  - type: web
    name: alati-api
    env: docker
    rootDir: backend
    dockerfilePath: Dockerfile
    plan: starter
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: alati-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true

      # Force R2 only
      - key: STORAGE_MODE
        value: r2

      # R2 env vars (set these in Render env too)
      - key: R2_ENDPOINT
        sync: false
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_BUCKET
        sync: false

      # Model selection
      - key: MODEL_VARIANT
        value: resnet18

databases:
  - name: alati-db
    plan: basic-256mb
    diskSizeGB: 15
